@mixin responsive($dvice) {
  @if $dvice == mobile {
    @media (max-width: 640px) {
      @content;
    }
  } @else if $dvice == smartphone {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $dvice == tablet {
    @media (max-width: 800px) {
      @content;
    }
  } @else if $dvice == descktop {
    @media screen and (min-width: 1024px) and (max-width: 1500px) {
      @content;
    }
  } @else if $dvice == bigDescktop {
    @media (min-width: 1400px) {
      @content;
    }
  } @else {
    @error "the device argument can only be valid for mobile, smartphone, tablet or descktop.";
  }
}

//transitions mixin
@mixin transition-mix($property: all, $duration: 0.2s, $timing: linear, $delay: 0s) {
  transition-property: $property;
  transition-duration: $duration;
  transition-timing-function: $timing;
  transition-delay: $delay;
}

//position absolute mixin
@mixin position-absolute($top: null, $left: null, $right: null, $bottom: null) {
  position: absolute;
  top: $top;
  left: $left;
  right: $right;
  bottom: $bottom;
}

//mixin for image positioning
@mixin img-position($max-width: 200%, $max-height: 200%) {
  position: relative;
  overflow: hidden;
  img {
    @include position-absolute($top: 50%, $left: 50%);

    width: 100%;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    max-width: $max-width;
    max-height: $max-height;
    transform: translate(-50%, -50%);
  }
}
