@mixin responsive($dvice) {
  @if $dvice == mobile {
    @media (max-width: 640px) {
      @content;
    }
  } @else if $dvice == smartphone {
    @media (min-width: 640px) {
      @content;
    }
  } @else if $dvice == tablet {
    @media (min-width: 800px) and (max-width: 1024px) {
      @content;
    }
  } @else if $dvice == descktop {
    @media (min-width: 1024px) {
      @content;
    }
  } @else if $dvice == bigDescktop {
    @media (min-width: 1400px) {
      @content;
    }
  } @else {
    @error "the device argument can only be valid for mobile, smartphone, tablet or descktop.";
  }
}
