@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;900&display=swap");

$font-family: "Open Sans", sans-serif;
$bg-light: #fbfbfb;
$bg-dark: #f1f1f1;

$color: #3b5054;
$color-primary: #f17d45;

$gutter: 1rem;
$width-loader: 9rem;
$time: 3s;
