@import "reset";
@import "vars";
@import "media";

/****************************************************/

/* elements de base *****************************************/

/****************************************************/

/* globals *****************************************/

body {
    line-height: 0;
}
html {
    font-family: $font-family;
    scroll-behavior: smooth;
    @include responsive(mobile) {
        scroll-behavior: auto;
    }
    &::-webkit-scrollbar-thumb {
        background: #7dc8dd;
        border-radius: 15px;
    }
    &::-webkit-scrollbar {
        width: 0.6rem !important;
        background-color: #333333;
    }
}
button {
    background: transparent;
    border: none;
    width: 100%;
    padding: 0 2rem;
}
