@import "reset";
@import "vars";
@import "media";

body {
    line-height: 0;
}
html {
    font-family: $font-family;
}
/**--nav--*/
.nav {
    background: #1f71c6;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    @include responsive(tablet) {
        display: flex;
        flex-direction: column;
    }
    &__media {
        & img {
            height: 40px;
            &:hover {
                opacity: 0.8;
                background: #0f4680;
                border-radius: 50px;
            }
        }
    }
    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        font-size: 17px;
        align-items: center;
        margin-top: 0.9rem;
        margin-right: 4rem;
        @include responsive(tablet) {
            display: flex;
            flex-direction: column;
        }
        & a {
            color: #fff;
            padding-left: 1.9rem;
            @include responsive(tablet) {
                padding-bottom: 3rem;
            }
            &:hover {
                opacity: 0.5;
            }
            &::after {
                content: "";
                display: block;
                margin: 22px 0 -16px 0;
                height: 3px;
                width: 0;
                transition: width 0.5s ease, background-color 0.5s ease;
            }
            &:hover:after {
                width: 100%;
                background: #fff;
            }
        }
    }
    & button {
        background: transparent;
        border: none;
        display: none;
        @include responsive(tablet) {
            display: flex;
            position: absolute;
            right: 10px;
            top: 7px;
            transform: rotate(90);
        }
    }
}

/**--About ME --**/

.about {
    background: #41a4f5;
    display: flex;
    padding: 2rem;
    @include responsive(tablet) {
        flex-direction: column;
    }
    &__avatar {
        align-self: center;
        padding-left: 34rem;
        @include responsive(tablet) {
            padding-left: 0;
            margin-top: 4rem;
        }
    }

    & img {
        border-radius: 8px;
        max-width: 245px;
        margin-top: -3rem;
        @include responsive(tablet) {
            border-radius: 20rem;
            width: 159px;
            height: 159px;
        }
    }
}
.container {
    &__avatar {
        display: inline-block;
    }
    &__profile {
        padding: 3rem;
    }
    &__bio {
        text-align: left;
        color: #fff;
        line-height: 1.8rem;
        @include responsive(tablet) {
            font-size: 1.3rem;
            align-items: center;
            text-align: center;
        }

        & span {
            font-size: 1.8rem;
            @include responsive(tablet) {
                font-size: 1.3rem;
            }
        }
        & h2 {
            font-size: 4.5rem;
            font-weight: 900;
            padding: 2rem 0;
            @include responsive(tablet) {
                font-size: 2.8rem;
            }
        }
        & a {
            font-size: 1.4rem;
            font-weight: 900;
            margin: 0rem;
            display: inline-block;
            background: rgba(0, 0, 0, 0.2);
            padding: 1rem;
            border-radius: 9px;
            color: white;
        }
    }
    &__description {
        font-size: 1.4rem;
        width: 75%;
        text-align: justify;

        @include responsive(tablet) {
            width: 100%;
            text-align: inherit;
            line-height: 1.9rem;
            font-size: 1.2rem;
        }
    }
    &__link {
        padding-top: 1.4rem;
        & a {
            @include responsive(tablet) {
                font-size: 1.2rem;
                padding: 0.5rem;
            }
        }
    }
}
/**-- Skills --**/
.skills {
    background: #f7f8fa;
    @include responsive(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: $font-family;
        font-size: 30px;
        font-weight: 600;
        padding: 2rem;
        @include responsive(tablet) {
            font-size: 1.5rem;
            padding: 3rem;
        }
    }
    & a {
        font-size: 1.8rem;
        font-weight: 900;
        color: #1f71c6;
        &:hover {
            opacity: 0.5;
        }
    }
    &__blocks {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-flow: wrap;
        padding: 3rem 23rem 0;
        @include responsive(tablet) {
            flex-direction: column;
            padding: 2rem 3rem 0;
        }
    }
    &__categories {
        border-radius: 4px;
        background: #fff;
        width: 34%;
        box-shadow: 0 0.125rem 0.25rem #00000013;
        margin-bottom: 4rem;
        @include responsive(tablet) {
            width: 100%;
            margin-bottom: 2rem;
            padding: 2rem;
            text-align: center;
        }
        & p {
            font-size: 1.5rem;
            text-align: justify;
            padding: 0 1rem 1rem;
            @include responsive(tablet) {
                font-size: 1.3rem;
                text-align: inherit;
                padding: 1rem 3rem;
                line-height: 1.3;
            }
        }
        &__header {
            padding: 1rem 2rem 2rem;
            @include responsive(tablet) {
            }

            & h4 {
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 1rem;
                @include responsive(tablet) {
                    padding-bottom: 2rem;
                }
            }
        }
    }
}
.link {
    padding-bottom: 4rem;
}
/**--form--**/

.contact {
    padding: 2rem;
    background: #f7f8fa;
    @include responsive(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    & img {
        width: 150px;
        height: 150px;
        border-radius: 215px;
    }
    &__description {
        padding: 4rem 7rem;
        margin-left: 50rem;
        margin-top: 4rem;
        margin: 4rem 0 4rem 50rem;
        align-items: center;
        background: #fff;
        border-radius: 4px;
        width: 34%;
        box-shadow: 0 0.125rem 0.25rem #00000013;
        @include responsive(tablet) {
            padding: 1rem 2rem;
            margin: 4rem 0 0 0;
            width: 100%;
        }
        & p {
            font-size: 1.5rem;
            line-height: 2rem;
            text-align: justify;
            @include responsive(tablet) {
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
        }
    }
}
.form {
    width: 100%;
    &__input {
        display: flex;
        justify-content: center;
        padding: 1rem 50rem;
        margin-right: 2rem;
        @include responsive(tablet) {
            margin-right: 0;
            padding: 1rem 23rem;
        }

        &-name {
            padding-right: 1rem;
        }
        &-email {
            padding-left: 1rem;
        }
        &-name,
        &-email {
            & input {
                width: 25rem;
                height: 3rem;
                border-radius: 4px;
                border: 1px solid #b0a0a0;
                font-size: 1.5rem;
                font-family: "Open Sans";
                font-weight: 400;
                padding-left: 7px;
                @include responsive(tablet) {
                    font-size: 1.1rem;
                    width: 21rem;
                }
            }
        }
    }
    & h3 {
        font-size: 1.8rem;
        font-weight: 600;
        padding-bottom: 1rem;
        @include responsive(tablet) {
            font-size: 1.4rem;
            text-align: center;
            margin-top: 2rem;
        }
    }
    &__message {
        padding: 2rem 50rem;
        margin-right: 2rem;
        @include responsive(tablet) {
            padding: 1rem;
            margin-right: 0;
        }
        & textarea {
            width: 704px;
            height: 150px;
            padding: 1rem;
            font-size: 1.5rem;
            font-family: "Open Sans";
            font-weight: 400;
            border-radius: 4px;
            border: 1px solid #b0a0a0;
        }
    }
    &__btn {
        padding: 1rem 50rem;
        margin-right: 2rem;
        @include responsive(tablet) {
            padding: 0 1rem;
            margin-right: 0;
        }
        & button {
            width: 100%;
            padding: 0.8rem;
            font-size: 1.3rem;
            border: 1px solid #b0a0a0;
            border-radius: 4px;
            background: #2e93f3;
            color: #fff;
            &:hover {
                opacity: 0.5;
            }
        }
    }
}

/**--projects--**/

.projects {
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 3rem;
    @include responsive(tablet) {
        flex-direction: column;
        align-items: center;
    }
    & h3 {
        @include responsive(tablet) {
            margin-bottom: 3rem;
            font-size: 1.5rem;
        }
    }

    &__mayfarmer {
        border-radius: 4px;
        background: #fff;
        width: 75%;
        padding-bottom: 2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        & img {
            width: 100%;
        }
        &-techno {
            & ul {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 2rem;
                & li {
                    border: 1px solid gray;
                    background: #58677d;
                    padding: 0.5rem 1rem;
                    border-radius: 15px;
                    color: white;
                }
            }
        }
    }
}
