@import "reset";
@import "vars";
@import "media";

body {
    line-height: 0;
}
html {
    font-family: $font-family;
}
/**--nav--*/
.open {
    display: flex !important;
    flex-direction: column !important;
    margin-top: 3rem !important;
    margin-left: 0;

    &:hover {
        display: flex !important;
    }
}
.nav {
    background: #1f71c6;
    padding: 0.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    @include responsive(tablet) {
        display: flex;
        flex-direction: column;
    }
    &__btn {
        display: none;

        @include responsive(tablet) {
            display: block;
        }
    }
    & button {
        background: transparent;
        border: none;
        display: none;
        @include responsive(tablet) {
            top: 0.5rem;
            display: block;
        }
        @include responsive(mobile) {
            top: 0.5rem;
            display: block;
        }
    }

    &__list {
        display: flex;
        justify-content: space-evenly;
        flex-direction: row;
        font-size: 1rem;
        align-items: center;
        margin-top: 0.9rem;

        @include responsive(tablet) {
            display: none;
        }
        @include responsive(descktop) {
            margin-left: 0;
        }
        & a {
            color: #fff;
            padding-left: 1.9rem;
            @include responsive(tablet) {
                padding-bottom: 3rem;
            }
            &:hover {
                opacity: 0.5;
            }
            &::after {
                content: "";
                display: block;
                margin: 22px 0 -16px 0;
                height: 3px;
                width: 0;
                transition: width 0.5s ease, background-color 0.5s ease;
            }
            &:hover:after {
                width: 100%;
                background: #fff;
            }
        }
    }
    &__media {
        @include responsive(tablet) {
            position: absolute;
            right: 21px;
            top: 10px;
        }
        & img {
            height: 40px;
            &:hover {
                opacity: 0.8;
                background: #0f4680;
                border-radius: 50px;
            }
        }
    }
}

/**--About ME --**/

.about {
    background: #41a4f5;
    display: flex;
    padding: 2rem;
    @include responsive(tablet) {
        flex-direction: column;
    }
    &__avatar {
        align-self: center;
        padding-left: 24rem;
        @include responsive(tablet) {
            padding-left: 0;
            margin-top: 4rem;
        }
        @include responsive(descktop) {
            padding-left: 9rem;
        }
    }

    & img {
        border-radius: 8px;
        max-width: 183px;
        margin-top: -3rem;
        @include responsive(tablet) {
            border-radius: 20rem;
            width: 159px;
            height: 159px;
        }
    }
}
.container {
    &__avatar {
        display: inline-block;
    }
    &__profile {
        padding: 3rem;
        @include responsive(mobile) {
            padding: 3rem 0;
        }
    }
    &__bio {
        text-align: left;
        color: #fff;
        line-height: 1rem;
        @include responsive(tablet) {
            font-size: 1.3rem;
            align-items: center;
            text-align: center;
        }

        & span {
            font-size: 1.4rem;
            @include responsive(tablet) {
                font-size: 1.3rem;
            }
            @include responsive(mobile) {
                font-size: 1rem;
            }
        }
        & h2 {
            font-size: 3.5rem;
            font-weight: 900;
            padding: 2rem 0;
            @include responsive(tablet) {
                font-size: 2.8rem;
                line-height: 3rem;
            }
            @include responsive(mobile) {
                font-size: 2rem;
                line-height: 0;
            }
        }
        & a {
            font-size: 1.4rem;
            font-weight: 900;
            margin: 0rem;
            display: inline-block;
            background: rgba(0, 0, 0, 0.2);
            padding: 1rem;
            border-radius: 9px;
            color: white;
        }
    }
    &__description {
        font-size: 1.1rem;
        line-height: 1.5rem;
        width: 80%;
        text-align: justify;

        @include responsive(tablet) {
            width: 100%;
            text-align: inherit;
            line-height: 1.9rem;
            font-size: 1.2rem;
        }
        @include responsive(mobile) {
            font-size: 1rem;
            padding: 0 1rem;
        }
        @include responsive(descktop) {
            width: 90%;
        }
    }
    &__link {
        padding-top: 1.4rem;
        @include responsive(descktop) {
            padding-top: 1.2rem;
        }

        & a {
            font-size: 1.2rem;
            padding: 0.8rem;
            @include responsive(tablet) {
                padding: 0.5rem;
            }
            @include responsive(mobile) {
                font-size: 1rem;
            }
        }
    }
}
/**-- Skills --**/
.front {
    order: 1;
}
.language {
    order: 2;
}
.back {
    order: 3;
}
.data {
    order: 4;
}
.skills {
    background: #f7f8fa;
    text-align: center;
    @include responsive(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__title {
        font-family: $font-family;
        font-size: 30px;
        font-weight: 600;
        padding: 2rem;
        @include responsive(tablet) {
            font-size: 1.5rem;
            padding: 3rem;
        }
        @include responsive(mobile) {
            padding: 2rem;
        }
    }
    & a {
        font-size: 1.8rem;
        font-weight: 900;
        color: #1f71c6;
        @include responsive(mobile) {
            font-size: 1.4rem;
        }
        &:hover {
            opacity: 0.5;
        }
    }
    &__blocks {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        flex-flow: wrap;
        padding: 3rem 23rem 0;
        @include responsive(tablet) {
            flex-direction: column;
            padding: 2rem 3rem 0;
        }
        @include responsive(descktop) {
            padding: 3rem 5rem 0;
        }
    }
    &__categories {
        border-radius: 4px;
        background: #fff;
        width: 34%;
        box-shadow: 0 0.125rem 0.25rem #00000013;
        margin-bottom: 4rem;

        @include responsive(tablet) {
            width: 100%;
            margin-bottom: 2rem;
            padding: 2rem;
            text-align: center;
        }
        @include responsive(mobile) {
            padding: 1rem;
        }
        & p {
            font-size: 1rem;
            text-align: justify;
            padding: 0 1rem 1rem;
            line-height: 1.5;
            @include responsive(tablet) {
                font-size: 1.3rem;
                text-align: inherit;
                padding: 1rem 3rem;
                line-height: 1.3;
            }
            @include responsive(mobile) {
                font-size: 1.1rem;
                padding: 1rem;
            }
        }
        &__header {
            padding: 1rem 2rem 2rem;
            @include responsive(mobile) {
                padding: 1rem 2rem 0;
            }

            & h4 {
                font-size: 20px;
                font-weight: 600;
                padding-bottom: 1rem;
                @include responsive(tablet) {
                    padding-bottom: 2rem;
                }
            }
        }
    }
}
.link {
    padding-bottom: 3rem;
}
/**--form--**/

.contact {
    padding: 2rem;
    background: #f7f8fa;
    @include responsive(tablet) {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 2rem;
    }

    & img {
        width: 150px;
        height: 150px;
        border-radius: 215px;
        margin-inline: 51rem;
        @include responsive(descktop) {
            margin-inline: 36rem;
        }
    }
    &__description {
        padding: 1rem 2rem;
        margin: 2rem 0 3rem 30rem;
        align-items: center;
        background: #fff;
        border-radius: 4px;
        width: 46%;
        box-shadow: 0 0.125rem 0.25rem #00000013;
        @include responsive(tablet) {
            padding: 1rem 2rem;
            margin: 4rem 1rem 0 0;
            width: 95%;
        }
        @include responsive(tablet) {
            margin: 4rem 0 0 0;
        }
        @include responsive(descktop) {
            margin: 2rem 0 3rem 17rem;
            width: 60%;
        }
        & p {
            font-size: 1.2rem;
            line-height: 2rem;
            text-align: center;
            @include responsive(tablet) {
                font-size: 1.2rem;
                line-height: 1.6rem;
            }
        }
    }
}
.form {
    & h3 {
        font-size: 1.5rem;
        font-weight: 600;
        padding-bottom: 2rem;
        margin-inline: 50rem;
        @include responsive(tablet) {
            font-size: 1.4rem;
            text-align: center;
            margin: 3rem;
            margin-inline: 0;
        }
        @include responsive(mobile) {
            margin: 2rem;
        }
        @include responsive(descktop) {
            text-align: center;
            margin-inline: 0;
        }
    }
    & input,
    textarea {
        border-radius: 4px;
        border: 1px solid gray;
        padding: 0.5rem;
        font-size: 1.1rem;
        margin-bottom: 1rem;

        &:focus {
            border: 2px solid #1f71c6;
        }
    }

    & input {
        width: 17%;
        @include responsive(tablet) {
            height: 2.5rem;
            width: -webkit-fill-available;
        }
        @include responsive(mobile) {
            height: 2.5rem;
            width: -webkit-fill-available;
        }
        @include responsive(descktop) {
            width: 32%;
        }
    }
    & #cemail {
        margin-left: 2.2rem;
        @include responsive(tablet) {
            margin-left: 0;
        }
        @include responsive(mobile) {
            margin-left: 0;
        }
        @include responsive(descktop) {
            margin-left: 2rem;
        }
    }
    & #cname {
        margin-left: 37rem;
        @include responsive(tablet) {
            margin-left: 0;
        }
        @include responsive(mobile) {
            margin-left: 0;
        }
        @include responsive(descktop) {
            margin-left: 14rem;
        }
    }
    & textarea {
        font-family: $font-family;
        width: 36%;
        margin-bottom: 2.5rem;
        margin-left: 37rem;

        @include responsive(tablet) {
            margin-bottom: 1rem;
            margin-left: 0rem;
            width: -webkit-fill-available;
        }
        @include responsive(mobile) {
            margin-bottom: 1rem;
            margin-left: 0rem;
            width: -webkit-fill-available;
        }
        @include responsive(descktop) {
            margin-left: 14rem;
            width: 66.6%;
        }
    }

    & button {
        width: 36%;
        margin-left: -41rem;
        background: #1f71c6;
        color: #fff;
        border: 1px solid gray;
        border-radius: 4px;
        height: 2.5rem;
        &:hover {
            opacity: 0.5;
        }
        @include responsive(tablet) {
            margin-bottom: 1rem;
            width: -webkit-fill-available;
            margin-left: 0rem;
        }
        @include responsive(mobile) {
            margin-bottom: 1rem;
            width: -webkit-fill-available;
            margin-left: 0rem;
        }
    }
}

/**--projects--**/

.projects {
    display: flex;
    justify-content: center;
    flex-direction: row;
    padding: 3rem;
    @include responsive(tablet) {
        flex-direction: column;
        align-items: center;
    }

    & p {
        width: 20%;
        padding: 5rem 2rem;
        line-height: 1.5rem;
        box-shadow: 0 0.125rem 0.25rem #00000013;
        border-radius: 4px;
        text-align: center;
        align-self: center;
        @include responsive(descktop) {
            width: 37%;
            padding: 4rem 2rem;
        }
    }
    & h3 {
        display: flex;
        margin-bottom: 3rem;
        margin-right: 2rem;
        font-size: 1.5rem;
        align-items: center;
        @include responsive(tablet) {
            margin-bottom: 3rem;
            font-size: 1.5rem;
        }
    }

    &__mayfarmer {
        border-radius: 4px;
        background: #fff;
        width: 25%;
        padding-bottom: 2rem;
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
        @include responsive(mobile) {
            width: 100%;
        }
        & img {
            width: 100%;
        }
        &-techno {
            & ul {
                display: flex;
                flex-direction: row;
                justify-content: space-evenly;
                padding-top: 2rem;
                & li {
                    border: 1px solid gray;
                    background: #58677d;
                    padding: 0.5rem 1rem;
                    border-radius: 15px;
                    color: white;
                }
            }
        }
    }
}
/* The Modal  */
.close-modal {
    display: none !important;
}
.open-modal {
    display: block !important;
}
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    @include responsive(mobile) {
        width: 34%;
    }
    &-content {
        background-color: #fefefe;
        margin: 15% auto;
        padding: 20px;
        border: 1px solid #888;
        border-radius: 17px;
        width: 31%;
        height: 31%;
        text-align: center;
        @include responsive(mobile) {
            margin: 125rem auto;
            padding: 1rem;
            width: 74%;
            height: 10%;
        }
        & p {
            line-height: 2;
            padding: 2.5rem;
            @include responsive(mobile) {
                padding: 0;
            }
        }
        &-close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            &:hover,
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
        }
    }
}
